# Approximate template so far
# Django
DEBUG=True
SECRET_KEY=secret-key-change # у всех одинаковый
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Database
DB_NAME=MakeYourChoice_db
DB_USER=username # свой придумываете
DB_PASSWORD=strong_password_here # свой придумываете
DB_HOST=db
DB_PORT=5432

# We will add SSO settings here in the future