# Approximate template so far
# Django
DEBUG=True
SECRET_KEY=secret-key-change
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=name
DB_USER=username
DB_PASSWORD=strong_password_here
DB_HOST=postgres
DB_PORT=5432

# We will add SSO settings here in the future